<h1>New Cocktail</h1>
<%= simple_form_for(@cocktail) do |f| %>
  <div class="form-group">
    <%= f.input :name %>
  </div>
  <%= f.submit class: 'btn-btn-primary' %>
<% end %>

<!--

<%#= f.select :ingredient, options_for_select([["Select ingredient", ""], @ingredients.split]) %>
 -->
  <%# @ingredients.each do |ingredient| %>
  <%#= f.label :ingredient %>
  <%#= f.select :ingredient %>
  <%#= f.label :description %>
  <%#= f.input :description %>
  <%# end %>
