// Specific CSS for your home-page
body {
  background-image: image-url("nomad-bar-nyc.jpg");
  background-size: cover;
  color: white;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.homepage-title {
  font-family: 'Tangerine', cursive;
  font-size: 96px;
  font-weight: bold;
}
